
.theme-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.theme-toggler:hover, .theme-toggler:focus {
    text-decoration: none;
}

.theme-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50% / 100% 100% no-repeat;
}

.card-img-top {
    height: 12em;
}

.country-h {
    font-size: 0.8rem;
}

.country-details {
    font-size: 0.7rem;
}

.filter-control {
    display: flex;
}

.search-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.back-btn-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 7em;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-light-body {
    background-color: #eef4fc;
}

.bg-dark-body {
    background-color: #0f1523;
}


.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}


.details-img{
    height: 100%;
}

.details-header{
    font-size: 0.9em;
}

.details-text-p{
    font-size: 0.7em;
}

@media screen and (max-width: 576px) {

    .filter-control {
        display: block;
    }

    .search-control {
        width: 100%;
    }
}